<% include ../partials/header %>
<div class="row justify-content-center">
    <div class="col-6">
        <h1>Add New Comment to <%= campground.name %></h1>


        <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
            <div class="form-group">
                    <textarea class="form-control" type="text" name="comment[text]" rows="4" cols="30"
                              placeholder="Leave your comment here"></textarea>
                <div class="row justify-content-center">
                    <div class="col-4">
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                            <a href="/campgrounds">Go Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>




    </div>

</div>
<% include ../partials/footer %>